<!DOCTYPE html>
<html lang="nl">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	</script>
	{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/yt/css/menu.css') }}">
	{% endblock %}
	{% block scripts %}
	<script>
	$(document).ready(function(){
		$(function() {
			var url = window.location.href;
     		$("#menu li a").each(function(){
     			var href = $(this).attr("href");
     			if(url.indexOf(href)!=-1)
          		$(this).addClass("current");
     		});
     	});
	});
	</script>
	{% endblock %}
</head>
<body>
<div id="menu">
	<ul>
		{% for item in navigation %}
			<li><a href="{{ item.href }}">{{ item.caption|trans({},'navigation') }}</a></li>
		{% endfor %}
	</ul>
	<hr>
</div>
</body>
</html>