body {
font-family:Verdana,sans-serif;
font-size:100%;
}

.wrapper {
max-width:700px; 
min-width:300px; 
margin-right:auto;
margin-left:auto; 
background-color:#FFFFFF;
text-align:center;
}

.wrapper #img{
display:block;
margin-right:auto;margin-left:auto;
}

h1 {
font-family:"Courier New",Courier,monospace;
color:rgb(79,146,255);
font-size:2.5em;
}

h2{
font-weight:normal;
font-size:1.25em;
}

h3 {
color:grey;
position:relative;
top:-10px;
}

.wrapper p {
text-align:center;
}

.wrapper #head1 {
}

a:link,a:visited {
font-size:0.8em;
font-weight:bold;
color:rgb(79,146,255);
text-decoration:none;
}

a:hover,a:active{
color:#66CCFF;
text-decoration:none;
}

.activities{
text-align:left;
margin-top:40px;
width:300px;
background-color:#ffffff;
}

.activities ul {
list-style-type:none;
margin:0;
padding:0;
}

.activities li {
margin-top:15px;
}

#main {
float:right;
width:473px;
height:877px;
position:relative;
top:-0px;
/*background-image:url(YouthTube_BG+logo.jpg);*/
}

#spacer {
height:60px;
}

#main img {
position:absolute;
display:block;
}

#main p {
text-align:left;
font-size:0.9em;
padding:30px;
padding-top:350px;
z-index:100;
position:absolute;
}

footer {
text-align:center;
font-size:0.75em;
color:grey;
clear:both;
}

a.admin_links {
font-size: 0.50em;
color: grey;
}

a.login {
font-size: 0.75em;
}

.comment {
font-size: 0.75em;
color: grey;
}
